<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<h1 style="color: #5e9ca0; padding-left: 40px;"><span style="color: #333333;">TLDquery.com</span></h1>
<h2 style="color: #2e6c80; padding-left: 40px;"><span style="color: #333333;">Download &amp; Connection Instructions</span></h2>
<ol style="list-style-position: initial; list-style-image: initial; font-size: 14px; line-height: 32px; font-weight: bold;">
<li style="list-style-type: none;">
<ol style="list-style-position: initial; list-style-image: initial; font-size: 14px; line-height: 32px; font-weight: bold;">
<li>This web page will list all files in the Blob with direct links.</li>
<li>Data is cached, if there is an error, wait an hour for refresh.</li>
</ol>
</li>
</ol>
<h2 style="padding-left: 40px;"><strong>Most recent Exports</strong></h2>
<ul>
<li style="list-style-type: none;">
<ul>
<li><a href="https://downloads.tldquery.sfo2.cdn.digitaloceanspaces.com/archive_2021-01-07.csv">file</a></li>
<li><a href="https://downloads.tldquery.sfo2.cdn.digitaloceanspaces.com/archive_2021-01-07.csv">file</a></li>
<li><a href="https://downloads.tldquery.sfo2.cdn.digitaloceanspaces.com/archive_2021-01-07.csv">file</a></li>
<li><a href="https://downloads.tldquery.sfo2.cdn.digitaloceanspaces.com/archive_2021-01-07.csv">file</a></li>
</ul>
</li>
</ul>
<p style="padding-left: 40px;">&nbsp;</p>
<h2 style="padding-left: 40px;">Historical</h2>
<table style="height: 280px; width: 0%; border-collapse: collapse; border-style: solid; border-color: #1e6abc; float: left;" border="1" cellpadding="3">
<tbody>
<tr style="height: 18px;">
<td style="width: 54.294%; height: 18px;"><span style="color: #333333;">File Name</span></td>
<td style="width: 21.5429%; height: 18px;"><span style="color: #333333;">Uploaded</span></td>
<td style="width: 24.163%; height: 18px;"><span style="color: #333333;">Size</span></td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.294%; height: 18px;"><a href="https://downloads.tldquery.sfo2.cdn.digitaloceanspaces.com/archive_2021-01-05.csv" target="_blank" rel="noopener">archive_2021-01-05.csv</a></td>
<td style="width: 21.5429%; height: 18px;">1/10/2021</td>
<td style="width: 24.163%; height: 18px;">
<p>84B</p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.294%; height: 18px;">&nbsp;</td>
<td style="width: 21.5429%; height: 18px;">&nbsp;</td>
<td style="width: 24.163%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.294%; height: 18px;">&nbsp;</td>
<td style="width: 21.5429%; height: 18px;">&nbsp;</td>
<td style="width: 24.163%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.294%; height: 18px;">&nbsp;</td>
<td style="width: 21.5429%; height: 18px;">&nbsp;</td>
<td style="width: 24.163%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.294%; height: 18px;">&nbsp;</td>
<td style="width: 21.5429%; height: 18px;">&nbsp;</td>
<td style="width: 24.163%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.294%; height: 18px;">&nbsp;</td>
<td style="width: 21.5429%; height: 18px;">&nbsp;</td>
<td style="width: 24.163%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.294%; height: 18px;">&nbsp;</td>
<td style="width: 21.5429%; height: 18px;">&nbsp;</td>
<td style="width: 24.163%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.294%; height: 18px;">&nbsp;</td>
<td style="width: 21.5429%; height: 18px;">&nbsp;</td>
<td style="width: 24.163%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.294%; height: 18px;">&nbsp;</td>
<td style="width: 21.5429%; height: 18px;">&nbsp;</td>
<td style="width: 24.163%; height: 18px;">&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>